html {
	font-size: 80px;
}

body {
	margin-left: 1.3rem;
	margin-top: .8rem;
	background-color: #FFE350;
	font-family: sans-serif;
	letter-spacing: -2px;
	display: flex;
	flex-direction:  column;
}

#opt2 {
	order: 1;
}

#opt1 {
	order:  2;
}

div.winner  {
	font-size: 3rem;
	margin-left: 0px;
	letter-spacing: -8px;
	padding-bottom: .2rem;
}

div.winner sup {
	font-size: .33em;
}

div {
	margin-left: .2em;
	line-height: .75em;
}

sup {
	/*font-family: cursive;*/
	font-size: .5em;
	top:  -.4em;
	position: relative;
}


