html {
	font-size: 80px;
}

body {
	margin-left: .5rem;
	background-color: #000000;
	font-family: sans-serif;
	letter-spacing: -2px;
	display: flex;
	display: flex;
	flex-direction:  column;
	justify-content: space-around;
}

div.winner  {
	font-size: 3rem;
	line-height: 1.5em;
	margin-left: 0px;
	letter-spacing: -8px;
}

div {
	margin-left: .2em;
}

sup {
	/*font-family: cursive;*/
	font-size: .33em;
	padding-left: .2em;
	top:  -.4em;
	position: relative;
}

button {
	background: rgba(0, 0, 0, 0);
	border: none;
}

#but1_text {
	position: relative;
	top: -60px;
	left: 140px;
	z-index: 1;
}

#but2_text {
	position: relative;
	top: 60px;
	left: 5px;
	z-index: 1;
}

img {
	z-index: -1;
}

/*h1 {
	text-align: left;
	font-size: 1rem;
	margin-left: calc(2vw + 40px);
}

li::marker {
  color: yellow;
  float:  top;
}

#entries {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	margin-left: 2vw;
}

.entry {
	font-size: 5vh;
	font-family: sans-serif;
  width: 66vw;
  height: auto;
  margin: 2px;
  text-align: left;
/*  border: 1px solid blue;*/
}

/*.title {
	font-family: cursive;
	font-size: .8rem;
	position: relative;
	top:  -200px;
	right:  -250px;
}*/