
*.psd
tool/assets/pocket-sound-shapes.ai
tool/__documentation/DSCF6633.MOV
tool/__documentation/DSCF6634.MOV
tool/__documentation/DSCF6635.MOV
tool/__documentation/DSCF6636.MOV
tool/__documentation/DSCF6637.MOV
tool/__documentation/DSCF6638.MOV
tool/__documentation/DSCF6639.MOV
tool/__documentation/DSCF6640.MOV
bill/__documentation/DSCF6641.MOV
bill/__documentation/DSCF6642.MOV
bill/__documentation/DSCF6643.MOV
bill/__documentation/DSCF6644.MOV
bill/__documentation/DSCF6645.MOV
bill/__documentation/DSCF6646.MOV
bill/__documentation/DSCF6647.MOV
bill/__documentation/DSCF6648.MOV
bill/__documentation/DSCF6649.MOV
bill/__documentation/DSCF6650.MOV
bill/__documentation/DSCF6651.MOV
bill/__documentation/DSCF6652.MOV
bill/__documentation/STE-013.wav
bill/__documentation/STE-014.wav
bill/__documentation/STE-015.wav
bill/__documentation/STE-016.wav
bill/__documentation/STE-017.wav
bill/__documentation/STE-018.wav
bill/__documentation/STE-019.wav
tool/__documentation/STE-010.wav
tool/__documentation/STE-011.wav
tool/__documentation/STE-012.wav
bill/__documentation/stills/vlcsnap-2022-06-16-12h55m25s861.png
bill/__documentation/stills/vlcsnap-2022-06-16-12h55m55s011.png
bill/__documentation/stills/.DS_Store
bill/__documentation/.DS_Store
sample-wave/assets/talking.logicx/Alternatives/000/DisplayState.plist
sample-wave/assets/talking.logicx/Alternatives/000/DisplayStateArchive
sample-wave/assets/talking.logicx/Alternatives/000/MetaData.plist
sample-wave/assets/talking.logicx/Alternatives/000/Project File Backups/00/MetaData.plist
sample-wave/assets/talking.logicx/Alternatives/000/Project File Backups/00/ProjectData
sample-wave/assets/talking.logicx/Alternatives/000/ProjectData
sample-wave/assets/talking.logicx/Alternatives/000/WindowImage.jpg
sample-wave/assets/talking.logicx/Media/Audio Files/Inst 1_bip.aif
sample-wave/assets/talking.logicx/Media/Audio Files/Untitled 3_1\#01.aif
sample-wave/assets/talking.logicx/Media/Audio Files/Untitled 3_1\#02.aif
sample-wave/assets/talking.logicx/Resources/ProjectInformation.plist
sample-wave/assets/talking.logicx/Alternatives/000/Autosave/2022-12-01 21:50:02Z.songData
sample-wave/assets/talking.logicx/Alternatives/000/Autosave/2022-12-01 21:50:02Z.eventData
sample-wave/assets/talking.logicx/Alternatives/000/Autosave/2022-12-01 21:50:02Z.displayData
sample-wave/assets/talking.logicx/Alternatives/000/Autosave/.dummy
bill/__documentation/trying-trim.mov
