body {
	font-size: 16px;
	background-color: black;
	color: white;
}

img {
	height: auto;
	max-height: 60vh;
	max-width: 95vw;
}

h1 {
	font-family: cursive;
	text-align: left;
	font-size: 1rem;	
	position: absolute;
	bottom: 3px;
	left: 20px;
	transform-origin: top left;
	transform: rotate(-90deg);	
}

h1 a {
	display: inline-block;
	line-height: .9;
	text-decoration: none;
	border-bottom: 2px dotted gold;
}

h1 a:hover {
	border-bottom: none;
}

#entries {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  justify-content: center;
  width: 98vw;
  height:  98vh;
}

.title {
	padding-top: 3px;
	font-family: sans-serif;
	font-size: .6rem;
	width: 100%;
	max-width: 350px;
}

.entry {
  margin: 2px;
/*  overflow: scroll;
  border: 1px solid blue;*/
}

.link, .description {
	max-width: 60vw;
	font-size: 5vh;
	font-family: sans-serif;
}

.link {
	display: block;
	text-decoration: coral wavy underline;
  text-decoration-thickness: 0.07em;
  text-underline-offset: 4.5px;
}

.link:hover {
	text-decoration: none;
}

a {
	color: white;
}