:root {
  /* declaring all my variables here */
  --mfd-blue: #4346FF;
  --mfd-orange: #FF7757;
  --mfd-white: #FEFEFE;
  --mfd-black: #000000;
  /*--bg-color: #F3FFA6;*/

}

html {
  /*font-size: 1vw;*/
}

@font-face {
  font-family: "Gothball";
  src: url("fonts/GothBallCrap.ttf") format("truetype");
}
@font-face {
  font-family: "Romana";
  src: url("fonts/Romana_BT.ttf") format("truetype");
}
@font-face {
  font-family: "Pixel";
  src: url("fonts/neue-pixel-grotesk-2.ttf") format("truetype");
}

header {
  grid-column: 2 / 4;
  padding-bottom: 15vh;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*grid-template-areas: "name name response response response response";*/
  /*grid-template-columns: repeat(6, 1fr);*/
  grid-gap: 2rem;
  /*width: 100vw;*/
}

/*header {
  padding-top: 0px;
  width: 100%;
}

header #header-left {
  float: right;
}*/


/*#credit {
  font-family: "Gothball";
  font-size: 1.1rem;
}*/

.metadata {
  font-family: monospace;
  letter-spacing: -.5px;
  font-size: 1rem;
  position: relative;
  top:  -30px;
}

body {
  margin:  16px;
}

a {
  color: var(--mfd-orange);
}

a:hover {
 text-decoration: none;
}

span#pixel {
 font-family: "Pixel", sans-serif;
 font-size: 2.1rem;
  border: 1px dotted blue;
  padding:  10px;
}

/* funky italic */
span.it {
  display: inline-block;
  transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.last {
  padding-bottom: 15vh;
}

.question-pre {
  grid-column: 2 / 5;
  font-size: .675rem;
  font-family: monospace;
  display: inline-block;
  padding-bottom: 1rem;
}

.question {
  font-size: 2rem;
  font-family: "Gothball", serif;
  color: var(--mfd-black);
  grid-column: 2 / 5;
}

.name {
  grid-column: 1 / 2;
  color: var(--mfd-black);
  font-family: "Pixel", sans-serif;
  font-size: min(4vw, 5rem);
  text-transform: uppercase;
  transform: scale(0.666,1);
  position: relative;
  top: 1.25rem;
  align-self: start;
}

.response {
  grid-column: 2 / 7;
  color: var(--mfd-blue);
  /*font-size:60px; */
  /*font-size: 7vh;*/
  font-size: min(5vw, 6.5rem);
  /*font-size:  5vw;*/
  line-height: 1.05; 
  font-family:'Romana', sans-serif; 
  letter-spacing: -1px;
}

.response-images {
  grid-column: 2 / 7;
  display:  flex;
 /* height:  90vh;*/
  flex-wrap: wrap;
  align-items: start;
  align-content: flex-start;
  flex-shrink: 0;
  /*justify-content: space-between;*/
 /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: masonry;
  grid-gap: inherit;*/
}

#audio-shower {
  align-self:center;
  padding: 1rem;
}

.response-image {
  /*display: inline-block;*/
  /*grid-column: 1 / 4;*/
  /*width: 25vw;*/
  height: 28vw;
  /*width: 25vw;*/
  /*height: auto;*/
  width: auto;
  max-width: 65vw;
  padding: .5rem;
  /*flex-grow: 1;*/
}

.texture-image  {
  height: min(4.5vw, 5.5rem);
  width:  auto;
  position: relative;
  top: .5rem;
}

#youtube-container {
  position: relative;
  width:  60%;
  height:  0;
  padding-bottom: 56.25%;
}

iframe {
  position:  absolute;
  top:  0;
  left: 0;
  width: 100%;
  height:  100%;
}


body {
  background-color: var(--bg-color);
}
audio#speedVar {
  transform: skewX(-45deg);
  width: 99%;
}

/*br{
  height:  20px;
}
*/
footer {
  grid-column: 2 / 4;
  text-transform: uppercase;
}

/*.sticky {
position: sticky;
position: -webkit-sticky;
top: 0px;
}*/


/*img {
  height: 7.5vh;
  width:  auto;
  position: relative;
  top:  5px;
}*/

/*  transition-property: width, height;
  transition-duration: .25s;
  transition-timing-function: ease-out; */  

/*
img:hover {
  height:  70vh;
  z-index: 1;
} */

/*img:active {
  width: 70%;
  height:  auto;
}*/

/* styling for input range slider from: https://www.cssportal.com/style-input-range/ */
input[type=range] {
  height: 58px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  transform: skewX(15deg);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  grid-column: 2 / 7;
  width: 100%;
  height: 30px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px var(--mfd-black);
  background: var(--mfd-orange);
  border-radius: 50px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--mfd-black);
  border: 1px solid var(--mfd-black);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: var(--mfd-white);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--mfd-orange);
}

@media screen and (max-width: 780px) {

  body {
    margin-left: 4px;
    margin-right: 8px;
  }

  article {
    display: grid;
  /*  width:  98%*/
    /*background-color: blue;*/
    /*grid-template-columns: repeat(8, 1fr);*/
    grid-gap: 1em;
    grid-template-columns: .25fr 1fr 1fr 1fr 1fr 1fr;
  }

  .response-image {
    width:  33vw;
    height: auto;
  }

  .test-image {
    width:  15vw;
  }

  header, footer {
    grid-column: 2 / 7;
  }

  .name {
    font-size: 1.8rem;
    top: .3rem;
    width: 10vw;
    word-wrap: break-word;
  }

  span#pixel {
    font-size: 1rem;
  }

  .response-images {
    /*justify-content: center;*/
  }

  .texture-image {
    height: 1.5rem;
    top: .1rem;
  }

  .metadata, #credit {
    font-size: .8rem;
  }

  .question {
    grid-column: 2 / 7;
    font-size: 1rem;
  }

  .response {
    grid-column: 2 / 7;
    font-size: 2rem;
  }

  .last, header{
    padding-bottom: 10vh; 
  } 

  input[type=range], audio#speedVar {
    width: 85%;
  }

  .question-pre {
    padding-bottom: .5rem;
  }

  audio {
    width: 65vw;
  }
}

/*end of input slider styling*/

/*      audio::-webkit-media-controls-enclosure {
  height: 2000000px;
  color:  purple;
}

audio::-webkit-media-controls-panel {
  height: 2000px;
  background-color: purple;
  color: purple;
}*/
