html, body {
  background-color: black;
  max-height: 90%;
  overflow-y: hidden;
/*  touch-action: none;*/
}

#oval {
  fill: #FF9C40;
  position: absolute;
  left:  5px;
  top:  5px;
}

#circle {
  fill: white;
  position: absolute;
  right:  5px;
  top:  8px;
}

#stairs {
  fill: #0081DF;
  position: absolute;
  left: 15px;
  bottom:  5px;
}