:root {
  --type-size: 3.5rem;
}

body {
/*  font-family: "Venus";*/
  font-family: "AuthenticSans90cond", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

#intro {
  text-align: center;
  font-size: 2rem;
  width: 66vw;
  margin-left: 16%;
}

p + p {
  text-indent: 2em;
}

a {
  color: red;
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none; 
/*  border-bottom: 2px solid red; */
  display: inline-block;
  margin-bottom: 25px;
}

a:visited {
  color: red;
}

p {
/*  font-family: "Venus";*/
/*  font-family: "AuthenticSans90", sans-serif;*/

  font-family: "Standard";
  /*  font-family: "Theinhardt";*/
/*  font-family: "maple-web", sans-serif;*/
  font-weight: 400;
  font-style: normal;
  font-size: var(--type-size);
  letter-spacing: -.01em;
  word-spacing: .01em;
  margin-bottom: 0px;
  margin-left: 2rem;
  margin-right: 2.8rem;
  margin-top: 0px;
  line-height: 1.20em;
}

.inline-head {
  color: red;
  font-size: .5em;
}

h2 {
  font-family: "AuthenticSans90", sans-serif;
/*  text-align: center;*/
/*  margin-bottom: 4rem;*/
  font-size: 2.5rem;
/*  font-weight: 500;*/
}

.title-flex {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: top;
}

.opener {
  color: red;
}

.entry {
  display: flex;
  flex-wrap: nowrap;
/*  align-items: center;*/
}

section {
  margin-bottom: 10vh;
}



h1 {
  display: flex;
  align-content: center;
  align-items: center;
  flex-basis: 100%;
/*  width: 100%;*/
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -10px;
  margin-top: .5rem;
/*  text-align: center;*/
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-family: "maple-web"
/*  font-family: "Monopol";*/
/*  letter-spacing: -20px;*/
}

/*#first-style h1 {
  font-family: "Maple";
}*/
/*
#second-style h1 {
  filter: blur(2px);
}*/

/*#third-style h1 {
  letter-spacing: -10px;
  font-family: "Monopol";
}*/



@media screen and (min-width: 1000px) {
  h1.opener:first-child {
    margin-top: 5.8rem;
  }
  .title-flex {
    width: 300px;
  }
}


@media screen and (max-width: 1000px) {
  html {
/*    background-color: lightgreen;*/
    font-size: 12px;
  }
  h1 {
    font-size: 5.5rem;
  }
  .title-flex {
    width: 80vw;
  }
  .entry:first-child {
    margin-top: 5vh;
  }
  p {
    margin-left: .3rem;
    margin-right: .3rem;
  }
  .entry {
    margin-top: 10vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}

@font-face {
  font-family: "AuthenticSans90";
  src: url(fonts/AUTHENTICSans-90.otf);
}

@font-face {
  font-family: "AuthenticSans90";
  src: url(fonts/AUTHENTICSans-90.otf);
}

@font-face {
  font-family: "Venus";
  src: url(fonts/VenusHalbfett.ttf);
}

@font-face {
  font-family: "AuthenticSans90cond";
  src: url(fonts/AUTHENTICSans-Condensed-90.otf);
}

@font-face {
  font-family: "Hofmann";
  src: url(fonts/Hofmann-TRIAL.otf);
}

@font-face {
  font-family: "Theinhardt";
  src: url(fonts/Theinhardt-Regular-Trial.otf);
}

@font-face {
  font-family: "Standard";
  src: url(fonts/standard-book.otf);
}



@font-face {
  font-family: "Sporting";
  src: url(fonts/SportingGrotesque-Regular.otf);
}


@font-face {
  font-family: "Oth";
  src: url(fonts/OthelloOutline-Regular.ttf);
}

@font-face {
  font-family: "Monopol";
  src: url(fonts/Monopol-TRIAL.otf);
}

@font-face {
  font-family: "ABCMaxiRound";
  src: url(fonts/ABCMaxiRound-Regular-Trial.otf);
}

