:root {
  --type-size: 4rem;
}

body {
  font-family: "AuthenticSans90cond", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

#intro {
  text-align: center;
  font-size: 2rem;
  width: 66vw;
  margin-left: 16%;
}

a {
  color: red;
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none; 
/*  border-bottom: 2px solid red; */
  display: inline-block;
  margin-bottom: 25px;
}

a:visited {
  color: red;
}

p {
  font-family: "AuthenticSans90", sans-serif;
  font-size: var(--type-size);
  margin-bottom: 20rem;
  margin-left: 2rem;
  margin-right: 2.8rem;
}


h2 {
  font-family: "AuthenticSans90", sans-serif;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
/*  font-weight: 500;*/
}

.title-flex {
  display: flex;
  align-content: middle;
  justify-content: center;
}

.opener {
  color: red;
}


h1 {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -3px;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4.5rem;
}

#first-style h1 {
  font-family: "Venus";

/*  font-family: "AuthenticSans90", sans-serif;*/
}

#second-style h1 {
  filter: blur(2px);
}

#third-style h1 {
  font-family: "Monopol";
}

@font-face {
  font-family: "AuthenticSans90";
  src: url(fonts/AUTHENTICSans-90.otf);
}

@font-face {
  font-family: "AuthenticSans90";
  src: url(fonts/AUTHENTICSans-90.otf);
}

@font-face {
  font-family: "Venus";
  src: url(fonts/VenusHalbfett.ttf);
}

@font-face {
  font-family: "AuthenticSans90cond";
  src: url(fonts/AUTHENTICSans-Condensed-90.otf);
}

@font-face {
  font-family: "Oth";
  src: url(fonts/OthelloOutline-Regular.ttf);
}

@font-face {
  font-family: "Monopol";
  src: url(fonts/Monopol-TRIAL.otf);
}

@font-face {
  font-family: "ABCMaxiRound";
  src: url(fonts/ABCMaxiRound-Regular-Trial.otf);
}

