@font-face {
  font-family: termGrot;
  src: url(../assets/terminal-grotesque.ttf);
}

@font-face {
  font-family: termGrotOp;
  src: url(../assets/terminal-grotesque_open.otf);
}



html {
	font-size: 80px;
}

body {
	margin-left: 1.3rem;
	margin-top: .8rem;
	background-color: #FFE350;
	font-family: sans-serif;
	letter-spacing: -2px;
	display: flex;
	flex-direction:  column;
}

#opt2 {
	order: 1;
}

#opt1 {
	order:  2;
}

div.winner  {
	font-size: 3rem;
	margin-left: 0px;
	letter-spacing: -8px;
	padding-bottom: .2rem;
}

div.winner sup {
	font-size: .33em;
}

div {
	margin-left: .2em;
	line-height: .75em;
}

sup {
	display: inline-block;
	-webkit-text-stroke-width: .2px;
	-webkit-text-stroke-color: #ffffff;
	color: #333333;
  	/*-webkit-text-stroke-color: #999999;*/
	/*color: #ffffff;*/
	font-family: termGrot;
	letter-spacing: -.5px;
	font-size: .5em;
	top:  -.4em;
	left:  -.55em;
	position: relative;
}

.updated {
  animation-name: updated;
  animation-duration: 2.3s;
  animation-timing-function: ease-out;
}


@keyframes updated {
  0% {
  	top:  -.4em;
    color: #ffffff;
  }
  50% {
  	transform: scale(1.05, 1.1);
   	top:  -.6em;
    color: #000000;
  }
  100% {
    top:  -.4em;
    color: #ffffff;
  }
}


@keyframes updated_BLACK_TO_WHITE {
  0% {
  	top:  -.4em;
    color: #000000;
  }
  50% {
  	transform: scale(1.05, 1.1);
   	top:  -.6em;
   	color: #ffffff;
  }
  100% {
    top:  -.4em;
    color: #000000;
  }
}