body {
/*  font-size: 14px;
*/  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin:  0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
}

#clock {
  max-width: 85vh;
  width: 85vw;
  max-height: 85vh;
  height: 85vw;
  border-radius: 50%;
  border: 4px solid #282828;
}

.type-hr {
  position: relative;
  top: -1vw;
  margin-left: calc(min(20vh, 20vw) * -1);
  display: inline-block;
/*  transform: rotate(-180deg);
*/}

.type-sec {
  position: relative;
  top: -1vw;
  margin-left: calc(min(7vh, 7vw) * -1);
  display: inline-block;
  /*transform: rotate(-90deg);*/
}

.hand {
  width: 50%;
  right: 50%;
  height: 4px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  max-width: 30vh;
  width: 30vw;
  z-index: 3;
  background: red;
  mix-blend-mode: screen;
}

.hand.hour-hand.julio {
  background: blue;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 50%;
}

.hand.second-hand {
  background: black;
  max-width: 42vh;
  width: 42vw;
  /*height: 2px;*/
}

@media only screen and (max-width: 768px){

.type-hr {
  margin-left: calc(min(22vh, 22vw) * -1);
}

.type-sec {
  margin-left: calc(min(8vh, 8vw) * -1);
}

body {
  font-size: 14px;
}

}
