@font-face {
  font-family: "OCR X";
  src: url("fonts/OCR-X-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
	font-family: "OCR X";
  src: url("fonts/CR-X-Medium.otf") format("opentype");
  font-weight: bold;
}

body {
	font-size: 60px;
	line-height: 1.2;
	font-family: "OCR X";
	background: #FBFBFB;
	margin: 0px;
	height: 100vh;
	width: 100vw;
}

.project-desc {
	grid-column-start: 2;
	grid-column-end: 4;
}

#main-grid {
	box-sizing:border-box;
	padding: 40px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
/*  	grid-template-rows: repeat(4,1fr); */
	grid-auto-rows: 250px;
  	column-gap: 24px;
  	row-gap: 24px;
}


.nav {
	color: red;
}

.project {
	color:white;
	z-index: 3;
 	mix-blend-mode: difference;
}

a {
	text-decoration:none;
	color: inherit;
	transition: opacity .3s;
}

a:hover {
	opacity: .5;
}