@font-face {
  font-family: "Manifont Grotesk";
  src: url("fonts/ManifontGroteskBook.otf") format("opentype");
}

body {
	font-family: "Manifont Grotesk";
	margin: 0px;
	height: 100vh;
	width: 100vw;
}

#main-grid {
	box-sizing:border-box;
	padding: 40px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6,1fr);
  	grid-template-rows: repeat(5,1fr); 
  	column-gap: 24px;
  	row-gap: 24px;
}

.nav {
	color: red;
}

a {
	text-decoration:none;
	color: inherit;
	transition: opacity .3s;
}

a:hover {
	opacity: .5;
}